body{
    text-align: right !important;
    font-family: vazirMed !important;
    background-color: rgb(247, 247, 247) !important;
}
section{
    margin-top: 130px !important;
}
@font-face {
    font-family: vazirMed;
    src: url(../font/Vazir-Medium.ttf);
}